<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<!-- /*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet" */-->
    <h1 th:text="'List of Vets'">List of Vets...</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px">Id</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Phuc</td>
            <td th:text="${vet.lastName}">Nguyen</td>
        </tr>
        </tbody>
    </table>
</body>
</html>